.button {
  border: 5px solid black;
  width: 120px;
}
.play-game-button {
  display: inline-block;
  border: 5px solid black;
  width: 120px;
  text-align: center;
}
.roundedBorder {
  border: 3px solid black;
  padding: 20px;
  width: 85%;
  height: 65%;
  border-radius: 25px;
  position: relative;

}
.cardContainer {
  text-align: center;
}

.header {
  text-align: center;
}
.card {
  display: inline-block;
  width: 25%;
  height: 75px;
  margin: 10px;
  border: 3px solid grey;
  opacity: 0.4;
}

* {
  background: yellow;
}

#photo{
   background-image:url('');
   background-size:cover;
   background-position: center;
   height: 250px; width: 250px;
}
